body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #554122;
  background-color: #f0f0f0;
  background-image: linear-gradient(to top, #fcf8f1 30%, #F7EDDE 70%);        
}

h1 {
  font-family: Roboto;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #554122;
  position: absolute;
  top: 23%;
  left: 50%; 
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.audioPlayer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
  color: #877964;
  background-color: rgba(0, 0, 0, 0.08);
}

button:hover {
  color: #d5a660;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 2px #d5a660, 0 0 2px #d5a660, 0 0 3px #d5a660;
  /* Neon light effect */
}

.progressBar,
.volumeBar {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  border-radius: 2px;
}

.progressBar:hover,
.volumeBar:hover {
  box-shadow: 0 0 3px #d5a660, 0 0 2px #d5a660, 0 0 1px #d5a660;
  /* Neon light effect */
}

.volumeBar {
  width: 75px;
}

.progressBar::-webkit-slider-thumb,
.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #d5a660;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.progressBar::-moz-range-thumb,
.volumeBar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #d5a660;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.progressBar:focus,
.volumeBar:focus {
  outline: none;
}